@charset "UTF-8";
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 5px 0px #777777;
          box-shadow: 0px 5px 0px #777777;
  padding: 15px 30px;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #373A3C;
  z-index: 2;
}

.header select {
  color: rgba(255, 255, 255, 0.5);
}

.header-body {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-body__logo {
  width: 30%;
  position: relative;
  margin: 0 30px 0 0;
  z-index: 3;
}

.header-body__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
  z-index: 2;
}

.header-body__menu-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-body__menu ul {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.header-body__menu li {
  cursor: pointer;
}

.header-body__menu li select {
  color: rgba(255, 255, 255, 0.5);
}

.header-body__menu a {
  color: #fff;
}

.header-body__menu a:hover {
  border-bottom: 1px solid #fff;
}

.header-select {
  border: none;
  background: none;
  position: relative;
  display: inline-block;
}

@media (max-width: 854px) {
  .header select {
    color: #8DD83D;
  }
  body.lock {
    overflow: hidden;
  }
  .header-body {
    height: 50px;
  }
  .header-body__menu {
    position: fixed;
    top: -100%;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    padding: 80px 0 0 0;
    background-color: #17191A;
    color: #8DD83D;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header-body__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-body__menu ul li select {
    color: #8DD83D;
  }
  .header-body__menu.active {
    top: 0;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

.mainSlider {
  margin: 60px 0 0 0;
}

.mainSlider-bgc {
  position: relative;
  background: url("../img/mainSlider/Star-Wars-Battlefront-II-combat.jpg") no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover;
}

.mainSlider-button button {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  padding: 8px 19px;
  color: #fff;
  cursor: pointer;
}

.mainSlider-body {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mainSlider-body__info-title {
  font-size: 36px;
  line-height: 42px;
}

.mainSlider-body__info-subtitle {
  font-size: 24px;
  line-height: 28px;
}

.mainSlider-body__menu {
  width: 35%;
}

.mainSlider-body__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  margin: 135px 0 0 0;
}

.mainSlider-body__form-watch button {
  background-color: #8DD83D;
}

.mainSlider-body__form-explore button {
  background: -webkit-gradient(linear, left top, left bottom, from(#686C6F), to(#373A3C));
  background: -webkit-linear-gradient(top, #686C6F 0%, #373A3C 100%);
  background: -o-linear-gradient(top, #686C6F 0%, #373A3C 100%);
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
}

/*Адптив*/
@media only screen and (max-width: 768px) {
  .mainSlider-bgc {
    background-image: url("../img/mainSlider/Star-Wars-Battlefront-II-combat.jpg");
  }
}

@media (max-width: 854px) {
  .mainSlider-body {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainSlider-body__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .mainSlider-body__form {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 440px) {
  .mainSlider-body__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 5%;
  background: url("../img/mainSlider/icon-prev.svg") 0 0/100% no-repeat;
  border: none;
}

.slider .slick-arrow.slick-next {
  right: 5%;
  background: url("../img/mainSlider/icon-next.svg") 0 0/100% no-repeat;
  border: none;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  position: absolute;
  bottom: 5%;
  right: 50%;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 15px;
  background-color: #8DD83D;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #8DD83D;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #8DD83D;
}

.slider__item {
  padding: 0px 15px;
}

.bestValue {
  padding: 64px 0 10% 0;
  background: -webkit-radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  background: -o-radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
}

.bestValue-header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.bestValue-cards {
  margin: 42px 0 0 0;
}

.exclusiveGames {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 880px;
  background: url("../img/exclusiveGames/bcg.jpg") no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  overflow: hidden;
}

.exclusiveGames-h {
  width: 60%;
}

.exclusiveGames-body {
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.exclusiveGames-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 97px 30px 0 0;
}

.exclusiveGames-item {
  width: 25%;
  margin: 0 1.3%;
}

.exclusiveGames-item img {
  width: 100%;
  height: 100%;
}

.exclusiveGames-slider {
  overflow: hidden;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 5%;
}

.exclusiveGames-store {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 5%;
}

.exclusiveGames-store button {
  padding: 18px 47px !important;
  cursor: pointer;
}

.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.exclusiveGames-slick-next {
  background: url("../img/mainSlider/icon-next.svg") 0 0/100% no-repeat;
  border: none;
}

.slick-current .cards__item-body-button button {
  background: -webkit-linear-gradient(45deg, #8dd83d 49%, #4e7821 33%);
  background: -o-linear-gradient(45deg, #8dd83d 49%, #4e7821 33%);
  background: linear-gradient(45deg, #8dd83d 49%, #4e7821 33%);
}

@media (max-width: 870px) {
  .exclusiveGames {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .exclusiveGames-slick-next {
    margin: 0 0 0 20px;
  }
  .exclusiveGames-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 5%;
  }
}

@media (max-width: 610px) {
  .exclusiveGames {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .exclusiveGames-h {
    width: 100%;
    padding: 0 20px;
  }
  .exclusiveGames-slick-next {
    margin: 0 0 0 20px;
  }
  .exclusiveGames-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .exclusiveGames-item {
    width: 360px !important;
    margin: 0 0.5%;
  }
}

@media (max-width: 368px) {
  .exclusiveGames-store button {
    padding: 18px 15px !important;
    cursor: pointer;
  }
}

.designLab {
  background: url("../img/designLab/designlab-bcg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.designLab-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: 480px;
}

.designLab-body__title {
  font-size: 48px;
  line-height: 56px;
}

.designLab-body__subtitle {
  margin: 9px 0 0 0;
  font-size: 24px;
  line-height: 28px;
}

.designLab-body__form {
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 37px 0 0 0 !important;
}

@media (max-width: 1220px) {
  .designLab {
    padding: 0 20px;
  }
}

@media (max-width: 968px) {
  .designLab-body {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .designLab-body {
    width: 80%;
    margin: 0 auto;
  }
  .designLab-body__title {
    font-size: 36px;
    line-height: 56px;
  }
  .designLab-body__subtitle {
    margin: 9px 0 0 0;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 446px) {
  .designLab-body {
    width: 100%;
    margin: 0 auto;
  }
}

.footer {
  padding: 58px 0 38px 0;
  background: #373A3C;
}

.footer__list li:first-child {
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 21px;
  color: #7DD42F;
  font-weight: 500;
}

.footer__list li {
  margin: 29px 0 0 0;
}

.footer-body {
  width: 95%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.footer-body__Follows-title {
  font-size: 18px;
  line-height: 21px;
  color: #7DD42F;
  font-weight: 500;
}

.footer-body__Follows ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0 0;
}

.footer-down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 19px 0 0 0;
  margin: 47px 0 0 0;
}

@media (max-width: 1220px) {
  .footer {
    padding: 58px 20px 38px 20px;
  }
}

@media (max-width: 500px) {
  .footer__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100%;
  }
  .footer-body {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    gap: 20px;
  }
  .footer-down {
    font-size: 14px;
  }
}

/*Шрифты*/
@font-face {
  font-family: "HelveticaNeueCyrThin";
  src: url("../fonts/HelveticaNeueCyrThin/HelveticaNeueCyrThin.eot");
  src: url("../fonts/HelveticaNeueCyrThin/HelveticaNeueCyrThin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrThin/HelveticaNeueCyrThin.woff") format("woff"), url("../fonts/HelveticaNeueCyrThin/HelveticaNeueCyrThin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

/* nullCss*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-------------------------------------------*/
.__container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  line-height: 56px;
}

.subtitle {
  font-size: 36px;
  line-height: 42px;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 64px;
  margin: 42px 0 0 0;
}

.cards__item {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  width: 320px;
  color: #435766;
  border: 1px solid #8DD83D;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #fff;
}

.cards__item-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  height: 180px;
}

.cards__item-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 240px;
  padding: 22px;
}

.cards__item-body-subtitle {
  font-size: 18px;
  line-height: 21px;
}

.cards__item-body-title {
  margin: 13px 0 0 0;
  font-size: 24px;
  line-height: 21px;
}

.cards__item-body-button {
  margin: 38px 0 0 0;
}

.cards__item-body-button button {
  width: 100%;
  padding: 15px 0;
  color: #fff;
  background: #8DD83D;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
}

.button-gray button {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  padding: 8px 19px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#686C6F), to(#373A3C));
  background: -webkit-linear-gradient(top, #686C6F 0%, #373A3C 100%);
  background: -o-linear-gradient(top, #686C6F 0%, #373A3C 100%);
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
}
