.designLab{
 
 
    background: url('../img/designLab/designlab-bcg.jpg') no-repeat;
    background-size: cover;
    
    &-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        height: 480px;
        &__title{
            font-size: 48px;
            line-height: 56px;
        }
        &__subtitle{
            margin: 9px 0 0 0;
            font-size: 24px;
            line-height: 28px;
        }
        &__form{
            align-items: start;
            margin: 37px 0 0 0 !important;
        }
    }
}
@media (max-width: 1220px){
    .designLab{
        padding: 0 20px;
    }
}
@media (max-width: 968px){
    .designLab{
        &-body{
            width: 60%;
        }
    }
}
@media (max-width: 768px){
    .designLab{
        &-body{
            width: 80%;
            margin: 0 auto;
            &__title{
                font-size: 36px;
                line-height: 56px;
            }
            &__subtitle{
                margin: 9px 0 0 0;
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}
@media (max-width: 446px){
    .designLab{
        &-body{
            width: 100%;
            margin: 0 auto;
           
        }
    }
}