@import  '../scss/header';
@import  '../scss/mainSlider';
@import  '../scss/bestValue';
@import  '../scss/exclusiveGames';

/*Шрифты*/
@font-face { 
  font-family: "HelveticaNeueCyrThin";
  src: url("../fonts/HelveticaNeueCyrThin/HelveticaNeueCyrThin.eot");
  src: url("../fonts/HelveticaNeueCyrThin/HelveticaNeueCyrThin.eot?#iefix")format("embedded-opentype"),
  url("../fonts/HelveticaNeueCyrThin/HelveticaNeueCyrThin.woff") format("woff"),
  url("../fonts/HelveticaNeueCyrThin/HelveticaNeueCyrThin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
// @import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
/* nullCss*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul, li {

  margin: 0;
  
  padding: 0;
  
  }
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
li{
    list-style-type: none;
}
a{

    text-decoration: none
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*-------------------------------------------*/
.__container{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
  font-size: 48px;
  line-height: 56px;
}
.subtitle{
  font-size: 36px;
  line-height: 42px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
  margin: 42px 0 0 0;
  &__item{
      transition: 1s;
      width: 320px;
      
      color: #435766;
      border: 1px solid #8DD83D;
      border-radius: 4px;
      background-color: #fff;
      &-img{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #FAFAFA;
          height: 180px;
          
      }
      &-body{
        display: flex;
        flex-direction: column;
        justify-content: end;

          height: 240px;
          padding: 22px;
          &-subtitle{
              font-size: 18px;
              line-height: 21px;
              
          }
          &-title{
              
              margin: 13px 0 0 0;
              font-size: 24px;
              line-height: 21px;
          }
          &-button{
              margin: 38px 0 0 0;
              button{
                  width: 100%;
                  padding: 15px 0;
                  color: #fff;
                  background: #8DD83D;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
              }
          }
      }
  }
}
.button-gray{
  button{
    border-radius: 4px;
    border: none;
    padding: 8px 19px;
    color: #fff;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  }
}